.navbar {
    height: 4.5rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(91,203,235,0.7);  
font-family: overload ;
}
@font-face {
    font-family:overload ;
    src: url("Hack/frontend/hack/src/assets/BG/Overload.otf");
  }
.navbar:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(91,203,235,0.7);
  }
.links{
    display: flex;
}
.nav-end {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-heading {
    font-size: 1.8rem;
}

.nav-logo:hover {
    cursor: pointer;
}

.home-link:hover {
    cursor: pointer;
}

.signup-link:hover {
    cursor: pointer;
}

.nav-links {
    color: white;
}

.navbar a {
    text-decoration: none;
}