*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    }
form{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   position: relative;
    height: 70%;
    width: 30%;
    min-width:300px;
    max-height:600px;
    border-radius: 2%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px inset, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
}
.loginpage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}
h1{
    padding-bottom: 9svh;
}
input{
    margin: 3vh;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
    padding-left: 1vw;
    border:none;
    height:3.6vh;
}
button{
    margin-top: 1vh;
    background-color: lightskyblue;
    color: white;
    width:15vw;
    height:4vh;
    border: none;
    border-radius: 2%;
    min-width:100px;
}
h4{
    margin-top: 2vh;
}
.loginpage button{
    cursor:pointer;
}
@media(height>=900px){
    input{margin-top:1px;
    height:35px;}
    h1{padding-bottom:425px;
    position: absolute;}
    button{height:35px;
    width:200px;}
}